<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">Customer informations</span>
    </div>
    <div class="text-700 text-sm mb-5">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Name</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.name}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Surname</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.surname}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Address</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.address}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Post Code</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.postCode}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">City</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.city}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Country</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.country}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Phone number</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.phone}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Mail</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{client.email}}</div>
        </li>
    </ul>

    <div  class="mt-3">
        <p-button label="Update" icon="pi" (click)="updateClient()"></p-button>
        &nbsp;
        <p-button label="Back" icon="pi" (click)="listClients()"></p-button>
    </div>

</div>